services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:80"
    depends_on:
      - auth-service
      - booking-service

  auth-service:
    build: ./services/auth_service
    volumes:
    - ./services/auth_service:/app
    container_name: auth_service
    ports:
      - "8001:8001"
    depends_on:
      - auth-db
      - rabbitmq
    environment:
      DB_HOST: auth-db
      DB_PORT: "5432"
      DB_USER: auth_user
      DB_PASSWORD: auth_password
      DB_NAME: auth_db
      DB_SSLMODE: disable
      JWT_SECRET: sdf23423adsd
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
  
  auth-db:
    image: postgres:16
    container_name: auth-db
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_password
      POSTGRES_DB: auth_db
    volumes:
      - auth-db-data:/var/lib/postgresql/data

  movie-service:
    build: ./services/movies_service
    container_name: movies_service
    ports:
      - "8003:8003"
    depends_on:
      - movies-db
    environment:
      DB_HOST: movies-db
      DB_PORT: "5432"
      DB_USER: movies_user
      DB_PASSWORD: movies_password
      DB_NAME: movies_db
      DB_SSLMODE: disable
  movies-db:
    image: postgres:16
    container_name: movies-db
    environment:
      POSTGRES_USER: movies_user
      POSTGRES_PASSWORD: movies_password
      POSTGRES_DB: movies_db
    volumes:
      - movies-db-data:/var/lib/postgresql/data
  
  booking-service:
    build: ./services/booking_service
    container_name: booking_service
    ports:
      - "8002:8002"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # RabbitMQ messaging port
      - "15672:15672" # RabbitMQ management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  
volumes:
  auth-db-data:
  movies-db-data:
  rabbitmq-data:
