networks:
  apps_net:
    name: z_internal_net  # Starting with 'z' forces it to the end of the list
    driver: bridge
    ipam:
      config:
        - subnet: 10.20.30.0/24

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:80"
    depends_on:
      - auth-service
      - booking-service
      - events-service
    networks:
      - apps_net


  auth-service:
    build: ./services/auth_service
    volumes:
      - ./services/auth_service:/app
    container_name: auth_service
    ports:
      - "8001:8001"
    depends_on:
      - auth-db
      - rabbitmq
    environment:
      DB_HOST: auth-db
      DB_PORT: "5432"
      DB_USER: auth_user
      DB_PASSWORD: auth_password
      DB_NAME: auth_db
      DB_SSLMODE: disable
      JWT_SECRET: sdf23423adsd
      RABBITMQ_USER: appuser
      RABBITMQ_PASSWORD: apppassword
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_QUEUE: notifications
    networks:
      - apps_net


  auth-db:
    image: postgres:16
    container_name: auth-db
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_password
      POSTGRES_DB: auth_db
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    networks:
      - apps_net
    ports:
      - "5433:5432"


  events-service:
    build: ./services/events_service
    container_name: events_service
    ports:
      - "8003:8003"
    environment:
      DB_HOST: events-db
      DB_PORT: 5432
      DB_USER: events_user
      DB_PASSWORD: events_password
      DB_NAME: events_db
      DB_SSLMODE: disable
      SERVER_PORT: 8003
    networks:
      - apps_net
    depends_on:
      - events-db-mongo


  events-db:
    image: postgres:16
    container_name: events-db
    environment:
      POSTGRES_USER: events_user
      POSTGRES_PASSWORD: events_password
      POSTGRES_DB: events_db
    volumes:
      - events-db-data:/var/lib/postgresql/data
    networks:
      - apps_net

  events-db-mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_password
      MONGO_INITDB_DATABASE: events_db
    ports:
      - "27017:27017"   # optional, only if you want host access
    volumes:
      - events-db-mongo-data:/data/db
    networks:
      - apps_net


  booking-service:
    build: ./services/booking_service
    container_name: booking_service
    ports:
      - "8002:8002"
    environment:
      SERVER_PORT: 8002
    networks:
      - apps_net


  notifier-service:
    build: ./services/notifier_service
    container_name: notifier_service
    ports:
      - "8004:8004"
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_USER: appuser
      RABBITMQ_PASSWORD: apppassword
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_QUEUE: notifications
    networks:
      - apps_net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      RABBITMQ_DEFAULT_USER: appuser
      RABBITMQ_DEFAULT_PASS: apppassword
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - apps_net

volumes:
  auth-db-data:
  events-db-data:
  rabbitmq-data:
  events-db-mongo-data:
  