networks:
  apps_net:
    name: z_internal_net  # Starting with 'z' forces it to the end of the list
    driver: bridge
    ipam:
      config:
        - subnet: 10.20.30.0/24

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:80"
    depends_on:
      - auth-service
      - booking-service
      - events-service
    networks:
      - apps_net

  auth-service:
    build: ./services/auth_service
    volumes:
      - ./services/auth_service:/app
    container_name: auth_service
    ports:
      - "8001:8001"
    depends_on:
      auth-db-mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      JWT_SECRET: sdf23423adsd
      RABBITMQ_USER: appuser
      RABBITMQ_PASSWORD: apppassword
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_QUEUE: notifications
      SERVER_PORT: 8001
      MONGO_URI: mongodb://mongo_user:mongo_password@auth-db-mongo:27017/auth_db?authSource=admin
      DATABASE_NAME: UTH_db
      DATABASE_COLLECTION: auth_collection
    networks:
      - apps_net
  
  auth-db-mongo:
    image: mongo:7
    container_name: auth-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_password
      MONGO_INITDB_DATABASE: auth_db
    ports:
      - "27017:27017"   # optional, only if you want host access
    volumes:
      - auth-db-mongo-data:/data/db
    networks:
      - apps_net
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: ["mongod", "--quiet"]

  events-service:
    build: ./services/events_service
    container_name: events_service
    ports:
      - "8003:8003"
    environment:
      SERVER_PORT: 8003
      MONGO_URI: mongodb://mongo_user:mongo_password@events-db-mongo:27017/events_db?authSource=admin
      DATABASE_NAME: events_db
      DATABASE_COLLECTION: events_collection
    networks:
      - apps_net
    depends_on:
      - events-db-mongo

  events-db-mongo:
    image: mongo:7
    container_name: events-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_password
      MONGO_INITDB_DATABASE: events_db
    ports:
      - "27018:27017"   # optional, only if you want host access
    volumes:
      - events-db-mongo-data:/data/db
    networks:
      - apps_net
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: ["mongod", "--quiet"]

  booking-service:
    build: ./services/booking_service
    container_name: booking_service
    ports:
      - "8002:8002"
    environment:
      SERVER_PORT: 8002
      RABBITMQ_USER: appuser
      RABBITMQ_PASSWORD: apppassword
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_QUEUE_SEATS: seats
      RABBITMQ_QUEUE_BOOKINGS: bookings
      DB_USER: booking_user
      DB_PASSWORD: booking_pass
      DB_HOST: booking-db
      DB_PORT: 5432
      DB_NAME: booking_db
    networks:
      - apps_net
    depends_on:
      booking-db:
        condition: service_healthy
   
      
  booking-db:
    image: postgres:16
    container_name: booking-postgres
    environment:
      POSTGRES_USER: booking_user
      POSTGRES_PASSWORD: booking_pass
      POSTGRES_DB: booking_db
    ports:
      - "5432:5432"
    volumes:
      - booking-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U booking_user"]
      interval: 5s
      timeout: 5s
      retries: 10


  notifier-service:
    build: ./services/notifier_service
    container_name: notifier_service
    ports:
      - "8004:8004"
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_USER: appuser
      RABBITMQ_PASSWORD: apppassword
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_QUEUE: notifications
    networks:
      - apps_net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      RABBITMQ_DEFAULT_USER: appuser
      RABBITMQ_DEFAULT_PASS: apppassword
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - apps_net


volumes:
  auth-db-data:
  rabbitmq-data:
  events-db-mongo-data:
  auth-db-mongo-data:
  booking-db-data: